In [1]:
import pandas as pd
import numpy as np

import sys
import os

# Add the src directory to the Python path
sys.path.append(os.path.abspath(os.path.join("..","src")))

from data_ingestion import *

In [2]:
# Importing the dataset: fault_data.csv
fault_df = data_ingestion('fault_data.csv', "DateTime", '%Y-%m-%d %H:%M')

# Importing the dataset: scada_data.csv
scada_df = data_ingestion('scada_data.csv', "DateTime", '%m/%d/%Y %H:%M')

In [3]:
fault_df

               DateTime          Time Fault
0   2014-05-14 14:39:00  1.400096e+09    GF
1   2014-05-14 14:50:00  1.400097e+09    GF
2   2014-05-14 14:58:00  1.400098e+09    GF
3   2014-05-14 15:09:00  1.400098e+09    GF
4   2014-05-14 15:20:00  1.400099e+09    GF
..                  ...           ...   ...
548 2015-01-14 23:00:00  1.421298e+09    AF
549 2015-01-14 23:09:00  1.421299e+09    AF
550 2015-01-15 22:50:00  1.421384e+09    AF
551 2015-01-15 23:00:00  1.421384e+09    AF
552 2015-01-15 23:09:00  1.421385e+09    AF

[553 rows x 3 columns]

In [4]:
# Doing an inner joing to make sure that date and time data match for fault and scada dataset.
combined_df = scada_df.merge(fault_df, on="DateTime", how="right")

In [5]:
# for i in combined_df['Time_x']:
#     if not np.isnan(i):
#         print(i)

combined_df

,DateTime,Time_x,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,...,Fan inverter cabinet temp.,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev,Time_y,Fault
0,2014-05-14 14:39:00,1400096384,0,5.7,7.400000,4.1,9.98,10.23,9.72,0,...,27,17,26,35,34,2501,25.818182,0.603023,1.400096e+09,GF
1,2014-05-14 14:50:00,1400097024,0,6.4,8.600000,2.7,4.12,10.71,0.70,0,...,27,17,26,35,34,2501,26.090910,0.943880,1.400097e+09,GF
2,2014-05-14 14:58:00,1400097536,0,5.6,7.500000,4.0,9.99,10.20,9.80,0,...,27,17,26,35,34,2501,26.454546,0.820200,1.400098e+09,GF
3,2014-05-14 15:09:00,1400098176,0,5.3,6.600000,4.1,9.98,10.17,9.79,0,...,27,18,26,35,34,2501,26.181818,0.873863,1.400098e+09,GF
4,2014-05-14 15:20:00,1400098816,0,5.1,7.200000,3.8,9.99,10.17,9.80,0,...,28,18,26,35,34,2501,26.181818,0.981650,1.400099e+09,GF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,2015-01-14 23:00:00,1421298048,0,13.5,22.000000,7.7,14.69,15.19,13.83,2736,...,24,8,29,35,57,3050,25.909090,1.814086,1.421298e+09,AF
549,2015-01-14 23:09:00,1421298560,0,15.5,25.700001,1.9,2.53,14.67,0.00,20,...,23,7,22,35,57,3050,28.181818,1.834022,1.421299e+09,AF
550,2015-01-15 22:50:00,1421383808,0,8.4,9.700000,6.8,12.79,13.30,11.64,1667,...,21,5,21,28,42,3050,20.909090,1.300350,1.421384e+09,AF
551,2015-01-15 23:00:00,1421384448,0,8.1,9.800000,6.0,11.71,13.27,9.99,1311,...,20,5,21,28,42,3050,20.909090,1.300350,1.421384e+09,AF
552,2015-01-15 23:09:00,1421384960,0,7.9,11.600000,1.9,1.40,11.18,0.00,14,...,21,5,17,28,42,3050,22.909090,1.300350,1.421385e+09,AF

In [ ]:
combined_df.to_csv('../data/processed/combined.csv', index=False)