In [4]:
import pandas as pd

In [5]:
def data_ingestion(fileName: str, colName: str):
  
  """
    Loads a CSV file and converts a specified column to datetime format.

    Parameters:
    ----------
    filename : str
        The path to the CSV file to load. This file should contain a column
        that needs conversion to datetime format.
        
    colname : str
        The name of the column within the CSV file to be converted into
        datetime format. The column should contain data that can be parsed
        as dates.

    Returns:
    -------
    pandas.DataFrame
        A DataFrame with the specified column converted to datetime format.
    """
  
  # Path to the raw data
  DATA_PATH = "../../data/raw/"

  # reading the csv file
  df = pd.read_csv(DATA_PATH+fileName)
  
  df[colName] = pd.to_datetime(df[colName])
  
  return df

## Testing the data ingestion function

In [6]:
df = data_ingestion('scada_data.csv', "DateTime")

In [7]:
# Checking to see if the column was infact converted into Date Time format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49027 entries, 0 to 49026
Data columns (total 66 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   DateTime                                           49027 non-null  datetime64[ns]
 1   Time                                               49027 non-null  int64
 2   Error                                              49027 non-null  int64
 3   WEC: ava. windspeed                                49027 non-null  float64
 4   WEC: max. windspeed                                49027 non-null  float64
 5   WEC: min. windspeed                                49027 non-null  float64
 6   WEC: ava. Rotation                                 49027 non-null  float64
 7   WEC: max. Rotation                                 49027 non-null  float64
 8   WEC: min. Rotation                                 49027 non-null  float64
 9   WEC: ava. Power                                    49027 non-null  int64
 10  WEC: max. Power                                    49027 non-null  int64
 11  WEC: min. Power                                    49027 non-null  int64
 12  WEC: ava. Nacel position including cable twisting  49027 non-null  int64
 13  WEC: Operating Hours                               49027 non-null  int64
 14  WEC: Production kWh                                49027 non-null  int64
 15  WEC: Production minutes                            49027 non-null  int64
 16  WEC: ava. reactive Power                           49027 non-null  int64
 17  WEC: max. reactive Power                           49027 non-null  int64
 18  WEC: min. reactive Power                           49027 non-null  int64
 19  WEC: ava. available P from wind                    49027 non-null  int64
 20  WEC: ava. available P technical reasons            49027 non-null  int64
 21  WEC: ava. Available P force majeure reasons        49027 non-null  int64
 22  WEC: ava. Available P force external reasons       49027 non-null  int64
 23  WEC: ava. blade angle A                            49027 non-null  float64
 24  Sys 1 inverter 1 cabinet temp.                     49027 non-null  int64
 25  Sys 1 inverter 2 cabinet temp.                     49027 non-null  int64
 26  Sys 1 inverter 3 cabinet temp.                     49027 non-null  int64
 27  Sys 1 inverter 4 cabinet temp.                     49027 non-null  int64
 28  Sys 1 inverter 5 cabinet temp.                     49027 non-null  int64
 29  Sys 1 inverter 6 cabinet temp.                     49027 non-null  int64
 30  Sys 1 inverter 7 cabinet temp.                     49027 non-null  int64
 31  Sys 2 inverter 1 cabinet temp.                     49027 non-null  int64
 32  Sys 2 inverter 2 cabinet temp.                     49027 non-null  int64
 33  Sys 2 inverter 3 cabinet temp.                     49027 non-null  int64
 34  Sys 2 inverter 4 cabinet temp.                     49027 non-null  int64
 35  Sys 2 inverter 5 cabinet temp.                     49027 non-null  int64
 36  Sys 2 inverter 6 cabinet temp.                     49027 non-null  int64
 37  Sys 2 inverter 7 cabinet temp.                     49027 non-null  int64
 38  Spinner temp.                                      49027 non-null  int64
 39  Front bearing temp.                                49027 non-null  int64
 40  Rear bearing temp.                                 49027 non-null  int64
 41  Pitch cabinet blade A temp.                        49027 non-null  int64
 42  Pitch cabinet blade B temp.                        49027 non-null  int64
 43  Pitch cabinet blade C temp.                        49027 non-null  int64
 44  Blade A temp.                                      49027 non-null  int64
 45  Blade B temp.                                      49027 non-null  int64
 46  Blade C temp.                                      49027 non-null  int64
 47  Rotor temp. 1                                      49027 non-null  int64
 48  Rotor temp. 2                                      49027 non-null  int64
 49  Stator temp. 1                                     49027 non-null  int64
 50  Stator temp. 2                                     49027 non-null  int64
 51  Nacelle ambient temp. 1                            49027 non-null  int64
 52  Nacelle ambient temp. 2                            49027 non-null  int64
 53  Nacelle temp.                                      49027 non-null  int64
 54  Nacelle cabinet temp.                              49027 non-null  int64
 55  Main carrier temp.                                 49027 non-null  int64
 56  Rectifier cabinet temp.                            49027 non-null  int64
 57  Yaw inverter cabinet temp.                         49027 non-null  int64
 58  Fan inverter cabinet temp.                         49027 non-null  int64
 59  Ambient temp.                                      49027 non-null  int64
 60  Tower temp.                                        49027 non-null  int64
 61  Control cabinet temp.                              49027 non-null  int64
 62  Transformer temp.                                  49027 non-null  int64
 63  RTU: ava. Setpoint 1                               49027 non-null  int64
 64  Inverter averages                                  49027 non-null  float64
 65  Inverter std dev                                   49027 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(56)
memory usage: 24.7 MB

In [8]:
# Displaying the first 5 rows of the data
df.head()

,DateTime,Time,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,...,Rectifier cabinet temp.,Yaw inverter cabinet temp.,Fan inverter cabinet temp.,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev
0,2014-05-01 00:00:00,1398920448,0,6.9,9.4,2.9,0.0,0.02,0.0,0,...,24,20,25,12,14,24,34,2501,25.272728,1.103713
1,2014-05-01 00:09:00,1398920960,0,5.3,8.9,1.6,0.0,0.01,0.0,0,...,24,20,25,12,14,24,34,2501,25.272728,1.103713
2,2014-05-01 00:20:00,1398921600,0,5.0,9.5,1.4,0.0,0.04,0.0,0,...,24,20,25,12,14,24,34,2501,25.272728,1.103713
3,2014-05-01 00:30:00,1398922240,0,4.4,8.3,1.3,0.0,0.08,0.0,0,...,23,21,25,12,14,24,34,2501,25.272728,1.103713
4,2014-05-01 00:39:00,1398922752,0,5.7,9.7,1.2,0.0,0.05,0.0,0,...,23,21,25,12,14,23,34,2501,25.272728,1.103713