In [9]:
import pandas as pd

In [10]:
def data_ingestion(fileName: str, colName: str, format: str):
  
  """
    Loads a CSV file and converts a specified column to datetime format.

    Parameters:
    ----------
    filename : str
        The path to the CSV file to load. This file should contain a column
        that needs conversion to datetime format.
        
    colname : str
        The name of the column within the CSV file to be converted into
        datetime format. The column should contain data that can be parsed
        as dates.

    Returns:
    -------
    pandas.DataFrame
        A DataFrame with the specified column converted to datetime format.
    """
  
  # Path to the raw data
  DATA_PATH = "../data/raw/"

  # reading the csv file
  df = pd.read_csv(DATA_PATH+fileName)
  
  df[colName] = pd.to_datetime(df[colName], format=format).dt.floor('min')
  return df

## Testing the data ingestion function

In [11]:
df = data_ingestion('scada_data.csv', "DateTime", '%m/%d/%Y %H:%M')
df1 = data_ingestion('fault_data.csv', "DateTime", '%Y-%m-%d %H:%M')

In [12]:
# Displaying the first 5 rows of the data
#df.head(5)
df1.head(5)

             DateTime          Time Fault
0 2014-05-14 14:39:00  1.400096e+09    GF
1 2014-05-14 14:50:00  1.400097e+09    GF
2 2014-05-14 14:58:00  1.400098e+09    GF
3 2014-05-14 15:09:00  1.400098e+09    GF
4 2014-05-14 15:20:00  1.400099e+09    GF