### `Importing important libraries`

In [10]:
import pandas as pd
from matplotlib import pyplot as plt

# setting pandas option
pd.set_option("display.max_columns", 66)

### `Importing Raw Data and displaying few rows`

##### *Fault Data*

In [ ]:
fault_df = pd.read_csv("../../data/raw/fault_data.csv")

fault_df.head(5) # Displaying the first 5 rows

fault_df['Fault'].value_counts()

Fault
FF    254
EF    174
AF     62
GF     43
MF     20
Name: count, dtype: int64

- gf: generator heating fault
- mf: mains failure fault
- ff: feeding fault
- af: air cooling fault
- ef: excitation fault

##### *Scada Data*

In [16]:
scada_df = pd.read_csv('../../data/raw/scada_data.csv')

scada_df.head(5) # Displaying the first 5 rows

,DateTime,Time,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,WEC: max. Power,WEC: min. Power,WEC: ava. Nacel position including cable twisting,WEC: Operating Hours,WEC: Production kWh,WEC: Production minutes,WEC: ava. reactive Power,WEC: max. reactive Power,WEC: min. reactive Power,WEC: ava. available P from wind,WEC: ava. available P technical reasons,WEC: ava. Available P force majeure reasons,WEC: ava. Available P force external reasons,WEC: ava. blade angle A,Sys 1 inverter 1 cabinet temp.,Sys 1 inverter 2 cabinet temp.,Sys 1 inverter 3 cabinet temp.,Sys 1 inverter 4 cabinet temp.,Sys 1 inverter 5 cabinet temp.,Sys 1 inverter 6 cabinet temp.,Sys 1 inverter 7 cabinet temp.,Sys 2 inverter 1 cabinet temp.,Sys 2 inverter 2 cabinet temp.,Sys 2 inverter 3 cabinet temp.,Sys 2 inverter 4 cabinet temp.,Sys 2 inverter 5 cabinet temp.,Sys 2 inverter 6 cabinet temp.,Sys 2 inverter 7 cabinet temp.,Spinner temp.,Front bearing temp.,Rear bearing temp.,Pitch cabinet blade A temp.,Pitch cabinet blade B temp.,Pitch cabinet blade C temp.,Blade A temp.,Blade B temp.,Blade C temp.,Rotor temp. 1,Rotor temp. 2,Stator temp. 1,Stator temp. 2,Nacelle ambient temp. 1,Nacelle ambient temp. 2,Nacelle temp.,Nacelle cabinet temp.,Main carrier temp.,Rectifier cabinet temp.,Yaw inverter cabinet temp.,Fan inverter cabinet temp.,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev
0,5/1/2014 0:00,1398920448,0,6.9,9.4,2.9,0.0,0.02,0.0,0,0,0,640,881,939053,6,0,0,0,838,0,838,838,91.959999,24,26,25,24,26,25,25,27,27,25,24,-14,0,-50,13,13,13,27,38,26,166,166,167,15,15,15,15,11,11,14,22,13,24,20,25,12,14,24,34,2501,25.272728,1.103713
1,5/1/2014 0:09,1398920960,0,5.3,8.9,1.6,0.0,0.01,0.0,0,0,0,640,881,939053,6,0,0,0,443,0,443,443,91.959999,24,26,25,24,26,25,25,27,27,25,24,-14,0,-50,13,13,13,27,38,26,166,166,167,15,15,15,15,11,11,13,21,13,24,20,25,12,14,24,34,2501,25.272728,1.103713
2,5/1/2014 0:20,1398921600,0,5.0,9.5,1.4,0.0,0.04,0.0,0,0,0,640,881,939053,6,0,0,0,525,0,525,525,91.940002,24,26,25,24,26,25,25,27,27,25,24,-14,0,-50,13,13,13,26,37,27,166,166,167,15,15,15,15,11,11,13,21,13,24,20,25,12,14,24,34,2501,25.272728,1.103713
3,5/1/2014 0:30,1398922240,0,4.4,8.3,1.3,0.0,0.08,0.0,0,0,0,641,881,939053,6,0,0,0,250,0,250,250,91.949997,24,26,25,24,26,25,25,27,27,25,24,-14,0,-50,13,13,13,26,33,31,166,166,167,15,15,15,15,11,11,13,20,13,23,21,25,12,14,24,34,2501,25.272728,1.103713
4,5/1/2014 0:39,1398922752,0,5.7,9.7,1.2,0.0,0.05,0.0,0,0,0,633,881,939053,6,0,0,0,549,0,549,549,91.940002,24,26,25,24,26,25,25,27,27,25,24,-14,0,-50,13,13,13,28,29,34,166,166,167,15,15,15,15,11,11,13,20,13,23,21,25,12,14,23,34,2501,25.272728,1.103713

##### *Status Data*

In [17]:
status_df = pd.read_csv('../../data/raw/status_data.csv')

status_df.head(5) # Displaying the first 5 rows

,Time,Main Status,Sub Status,Full Status,Status Text,T,Service,FaultMsg,Value0
0,24/04/2014 12:37:38,0,0,0 : 0,Turbine in operation,1,False,False,7.4
1,25/04/2014 19:27:24,71,104,71 : 104,Insulation monitoring : Insulation fault Phase U2,6,False,True,20.5
2,26/04/2014 09:30:13,8,0,8 : 0,Maintenance,6,True,False,17.1
3,26/04/2014 10:05:19,8,0,8 : 0,Maintenance,6,False,False,8.7
4,26/04/2014 10:05:25,8,0,8 : 0,Maintenance,6,True,False,10.6

### `Basic summary of the imported data`

#### *Fault Dataset*

##### *Shape of the dataset*

In [18]:
fault_df.shape

(553, 3)

The fault dataset has:

- 3 columns
- 533 rows of information

##### *Column types*

In [22]:
fault_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  553 non-null    object
 1   Time      553 non-null    float64
 2   Fault     553 non-null    object
dtypes: float64(1), object(2)
memory usage: 13.1+ KB

The fault dataset has a column called "DataTime" which is of object type. This column will have to be converted into datatime dtype.

##### *Any Duplicates?*

In [24]:
fault_df.duplicated().sum()

0

No duplicated data in the fault dataset

##### *Any Missing Data?*

In [25]:
fault_df.isna().sum()

DateTime    0
Time        0
Fault       0
dtype: int64

No missing data in our fault dataset

#### *Scada Dataset*

##### *Shape of the dataset*

In [19]:
scada_df.shape

(49027, 66)

The scada dataset has:

- 66 columns
- 49,027 rows of information

##### *Column types*

In [21]:
scada_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49027 entries, 0 to 49026
Data columns (total 66 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   DateTime                                           49027 non-null  object
 1   Time                                               49027 non-null  int64
 2   Error                                              49027 non-null  int64
 3   WEC: ava. windspeed                                49027 non-null  float64
 4   WEC: max. windspeed                                49027 non-null  float64
 5   WEC: min. windspeed                                49027 non-null  float64
 6   WEC: ava. Rotation                                 49027 non-null  float64
 7   WEC: max. Rotation                                 49027 non-null  float64
 8   WEC: min. Rotation                                 49027 non-null  float64
 9   WEC: ava. Power                                    49027 non-null  int64
 10  WEC: max. Power                                    49027 non-null  int64
 11  WEC: min. Power                                    49027 non-null  int64
 12  WEC: ava. Nacel position including cable twisting  49027 non-null  int64
 13  WEC: Operating Hours                               49027 non-null  int64
 14  WEC: Production kWh                                49027 non-null  int64
 15  WEC: Production minutes                            49027 non-null  int64
 16  WEC: ava. reactive Power                           49027 non-null  int64
 17  WEC: max. reactive Power                           49027 non-null  int64
 18  WEC: min. reactive Power                           49027 non-null  int64
 19  WEC: ava. available P from wind                    49027 non-null  int64
 20  WEC: ava. available P technical reasons            49027 non-null  int64
 21  WEC: ava. Available P force majeure reasons        49027 non-null  int64
 22  WEC: ava. Available P force external reasons       49027 non-null  int64
 23  WEC: ava. blade angle A                            49027 non-null  float64
 24  Sys 1 inverter 1 cabinet temp.                     49027 non-null  int64
 25  Sys 1 inverter 2 cabinet temp.                     49027 non-null  int64
 26  Sys 1 inverter 3 cabinet temp.                     49027 non-null  int64
 27  Sys 1 inverter 4 cabinet temp.                     49027 non-null  int64
 28  Sys 1 inverter 5 cabinet temp.                     49027 non-null  int64
 29  Sys 1 inverter 6 cabinet temp.                     49027 non-null  int64
 30  Sys 1 inverter 7 cabinet temp.                     49027 non-null  int64
 31  Sys 2 inverter 1 cabinet temp.                     49027 non-null  int64
 32  Sys 2 inverter 2 cabinet temp.                     49027 non-null  int64
 33  Sys 2 inverter 3 cabinet temp.                     49027 non-null  int64
 34  Sys 2 inverter 4 cabinet temp.                     49027 non-null  int64
 35  Sys 2 inverter 5 cabinet temp.                     49027 non-null  int64
 36  Sys 2 inverter 6 cabinet temp.                     49027 non-null  int64
 37  Sys 2 inverter 7 cabinet temp.                     49027 non-null  int64
 38  Spinner temp.                                      49027 non-null  int64
 39  Front bearing temp.                                49027 non-null  int64
 40  Rear bearing temp.                                 49027 non-null  int64
 41  Pitch cabinet blade A temp.                        49027 non-null  int64
 42  Pitch cabinet blade B temp.                        49027 non-null  int64
 43  Pitch cabinet blade C temp.                        49027 non-null  int64
 44  Blade A temp.                                      49027 non-null  int64
 45  Blade B temp.                                      49027 non-null  int64
 46  Blade C temp.                                      49027 non-null  int64
 47  Rotor temp. 1                                      49027 non-null  int64
 48  Rotor temp. 2                                      49027 non-null  int64
 49  Stator temp. 1                                     49027 non-null  int64
 50  Stator temp. 2                                     49027 non-null  int64
 51  Nacelle ambient temp. 1                            49027 non-null  int64
 52  Nacelle ambient temp. 2                            49027 non-null  int64
 53  Nacelle temp.                                      49027 non-null  int64
 54  Nacelle cabinet temp.                              49027 non-null  int64
 55  Main carrier temp.                                 49027 non-null  int64
 56  Rectifier cabinet temp.                            49027 non-null  int64
 57  Yaw inverter cabinet temp.                         49027 non-null  int64
 58  Fan inverter cabinet temp.                         49027 non-null  int64
 59  Ambient temp.                                      49027 non-null  int64
 60  Tower temp.                                        49027 non-null  int64
 61  Control cabinet temp.                              49027 non-null  int64
 62  Transformer temp.                                  49027 non-null  int64
 63  RTU: ava. Setpoint 1                               49027 non-null  int64
 64  Inverter averages                                  49027 non-null  float64
 65  Inverter std dev                                   49027 non-null  float64
dtypes: float64(9), int64(56), object(1)
memory usage: 24.7+ MB

Similarly like the fault dataset, the "DateTime" column in scada dataset will need to be converted into datetime format. Also, this dataset has a "Time" column will also be needed to convert into a time format.

##### *Any Duplicates?*

In [30]:
scada_df.duplicated().sum()

0

There are no duplicates in the scada dataset

##### *Any Missing Data?*

In [33]:
scada_df.isna().sum()

DateTime                 0
Time                     0
Error                    0
WEC: ava. windspeed      0
WEC: max. windspeed      0
                        ..
Control cabinet temp.    0
Transformer temp.        0
RTU: ava. Setpoint 1     0
Inverter averages        0
Inverter std dev         0
Length: 66, dtype: int64

There is no missing data in the scada dataset

#### *Status Dataset*

##### *Shape of the dataset*

In [20]:
status_df.shape

(1849, 9)

The status dataset has:

- 9 columns
- 1,849 rows of information

##### *Column types*

In [23]:
status_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         1849 non-null   object
 1   Main Status  1849 non-null   int64
 2   Sub Status   1849 non-null   int64
 3   Full Status  1849 non-null   object
 4   Status Text  1849 non-null   object
 5   T            1849 non-null   int64
 6   Service      1849 non-null   bool
 7   FaultMsg     1849 non-null   bool
 8   Value0       1849 non-null   float64
dtypes: bool(2), float64(1), int64(3), object(3)
memory usage: 104.9+ KB

The "Time" column will need to be converted into an appropriate dtype.

##### *Any Duplicates?*

In [36]:
status_df.duplicated().sum()

0

There is no duplicated data in our status dataset

##### *Any Missing Data?*

In [35]:
status_df.isna().sum()

Time           0
Main Status    0
Sub Status     0
Full Status    0
Status Text    0
T              0
Service        0
FaultMsg       0
Value0         0
dtype: int64

There is no missing data in our status dataset